src/**
test/**
out/**
.github/**
.vscode/**
.eslintrc.cjs
eslint.config.js
.prettierrc
README-dev.md
ARCHITECTURE.md
prompt.txt
esbuild.js
tsconfig.json
**/*.ts
**/*.map
node_modules/**
!dist/**
!webview/**
!README.md
!CHANGELOG.md
!LICENSE
